<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MakeUpAppDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4CDC25CC1E2FDEEF0083AE78</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4CDC25E31E2FDEF00083AE78</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4CDC25EE1E2FDEF00083AE78</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
